<app-nav></app-nav>
<main class="main-content">
    <form class="card">
        <legend>Tu información</legend>
        <label>Nombre de usuario</label>
        <input [(ngModel)]="userNew.username" type="text" name="username">
        <label>Email</label>
        <input [(ngModel)]="userNew.email" type="email" name="email">
        <label>Foto</label>
        <input type="file" name="photo" accept="image/*"
                (change)="onFileSelected($event)">
        <div *ngIf="this.userNew.photo!==null">
            <img [src]="this.userNew.photo" alt="Preview" style="max-width: 150px; border-radius: 50%;">
        </div>
        <button (click)="updateUser()">Guardar cambios</button>
    </form>
</main>