<nav class="sidebar">
  <!-- Logo -->
  <div class="sidebar-header">
    <img src="assets/logoAzulSinFondo.png" alt="Gabit Logo" class="logo">
  </div>

  <!-- User Info -->
  <div class="user-section">
    <div class="user-avatar" *ngIf="userFoto">
      <img [src]="userFoto" alt="Foto de perfil" class="avatar-image"> 
    </div>
    <div>
      <div class="user-avatar" *ngIf="!userFoto">
        {{ userName.charAt(0).toUpperCase() }}
      </div>
    </div>
    <div class="user-info">
      <p class="user-name">{{ userName }}</p>
      <p class="user-email">{{ userEmail }}</p> <!--Yo quitaria este campo porque no le aportada nada al usuario verlo todo el tiempo-->
    </div>
  </div>

  <!-- Navigation Menu -->
  <ul class="nav-menu">
    <li *ngFor="let item of menuItems" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <!-- <i-lucide [name]="item.icon" [size]="20"></i-lucide> -->
      <span [routerLink]="item.route">{{ item.label }}</span>
    </li>
  </ul>

  <!-- Logout Button -->
  <div class="sidebar-footer">
    <button class="btn-logout" (click)="logout()">
      <!-- <i-lucide name="log-out" [size]="20"></i-lucide> -->
      <span>Cerrar sesión</span>
    </button>
  </div>
</nav>