<app-header-public></app-header-public>
<main>
    <div class="image-container">
        <img src="assets/2647626.jpg">
    </div>
    <form class="card">
        <legend>Continúa tu camino.</legend>
        <div class="form-group">
            <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required>
            <span>Introduzca un email valido. ejemplo@mail.com</span>
        </div>
        <div class="form-group">
            <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required>
        </div>
        <button (click)="loginForm()">Entrar</button>
    </form>
</main>
