@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root{
    
    --titles: "Caprasimo", serif;
    --bodycopy: "Epilogue", sans-serif;
    --primary-color: #05576B;
    --primary-color-300: #6b9fb0;
    --primary-color-700: #043e4e;
    --primary-color-900: #021c24;
    --white-text: white;
    --font-accent: "Caprasimo";
    --bg-color-light: #f5f5f5;
    --shadow-light-light-side: #fff;
    --shadow-light-dark-side: slategray;
    --error: red;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--titles);
}

p, span, input, a{
    font-family: var(--bodycopy);
}

li{
    list-style: none;
}

body{
    background-color: #e8efef;
}