main{
    height: 93vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1em;
    margin: 0 1em;
    align-items: center;
    justify-content: center;
}

.image-container{
    grid-column: 1/7;
    width: 100%;
    height: 90%;
}

.image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card{
    grid-column: 8/12;
    background-color: #e8efef;
    border-radius: 2em;
    height: fit-content;
    padding: 2em;
    display: flex;
    gap: 3em;
    flex-direction: column;
    box-shadow: 5px 5px 5px var(--shadow-light-dark-side),-5px -5px 5px var(--shadow-light-light-side);
}

input{
    background-color: #e8efef;
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 2em;
    padding: 0 2em;
    box-shadow: 5px 5px 5px var(--shadow-light-dark-side) inset,-5px -5px 5px var(--shadow-light-light-side) inset;
}

input::placeholder{
    color: var(--primary-color);
}

button{
    width: 50%;
    background-color: var(--primary-color);
    padding: 1em;
    color: var(--white-text);
    border-radius: 2em;
    font-weight: bold;
    font-size: 1.2rem;
    align-self: center;
    border: none;
    box-shadow: 5px 5px 5px var(--shadow-light-dark-side),-10px -10px 10px var(--shadow-light-light-side);
    cursor: pointer;
    transition: box-shadow 0.35s, background-color 0.35s;
}

button:hover{
    background-color: var(--primary-color-700);
    box-shadow: 5px 5px 5px var(--primary-color-900) inset,-5px -5px 5px var(--primary-color) inset;
    
}

legend{
    font-family: var(--font-accent);
    font-size: 3rem;
    color: var(--primary-color);
}
