<app-header-public></app-header-public>
<main>
    <div class="image-container">
        <img src="assets/2647626.jpg">
    </div>
    <form class="card">
        <legend>Forma parte del camino.</legend>
        <div class="form-group">
            <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
            <span>Introduzca un email valido. ejemplo@mail.com</span>
        </div>
        <div class="form-group">
            <input type="password" [(ngModel)]="pass" name="pass" placeholder="Contraseña" required>
            <span>La contraseña es obligatoria.</span>

        </div>
        <div class="form-group">
            <input type="password" [(ngModel)]="passCon" name="passCon" placeholder="Confirmar contraseña" required>
            <span>Confirmar la contraseña es obligatorio.</span>

        </div>
        <button (click)="registerForm()">Únete</button>
    </form>
</main>
